.main-content
	.sorting-view
		.sorting-blok
			span.sorting-text Сортировать по
			select.sorting-meny
				- var sorting_item = ['по цене', 'по популярности']
					each s_item in sorting_item
						option.sorting-meny-item= s_item
			.view-wrapper
				span.view-text Вид каталога
				.view__block
					- var sort_icons = ['list', 'icons', 'tabl']
						each icitem in sort_icons
							span(class = 'view-item view-#{icitem}' view-atribut='catalog-view-#{icitem}')
	.catalog-view.catalog-view-tabl
		+cardProduct(
			'Samsung_GALAXY_S3',
			'Samsung GT-I9301I GALAXY S 3',
			'Смартфон использует четырёхъядерный центральный процессор Exynos 4412 производства Samsung, либо двухъядерный Qualcomm Snapdragon S4, дисплей HD SuperAMOLED с диагональю 4,8 дюйма, аккумулятор ёмкостью 2100 мА·ч, 8-мегапиксельную камеру, 1 Гб оперативной памяти и ряд новых «интеллектуальных» функций, например, собственную разработку Samsung',
			'189238',
			'11 290',
			'./img/catalog/tel_189238_01.jpg',
			'./img/catalog/tel_189238_02.jpg',
			'./img/catalog/tel_189238_03.jpg',
			'Samsung_GALAXY_S3',
			'Samsung_GALAXY_S3_front',
			'Samsung_GALAXY_S3_back',
			'Micro-SIM',
			'1',
			'Белый',
			'Android',
			'Есть',
			'Нет',
			'Есть',
			'В наличие')

		+cardProduct(
			'Microsoft_Lumia_640',
			'Microsoft Lumia 640 RM-1077',
			'смартфон, MS Windows Phone 8.1 поддержка двух SIM-карт экран 5", разрешение 1280x720 камера 8 МП, автофокус память 8 Гб, слот для карты памяти 3G, 4G LTE, Wi-Fi, Bluetooth, NFC, GPS, ГЛОНАСС аккумулятор 2500 мА·ч вес 145 г, ШxВxТ 72.20x141.30x8.80 мм',
			'283135',
			'10 990',
			'./img/catalog/tel_283135_01.jpg',
			'./img/catalog/tel_283135_02.jpg',
			'./img/catalog/tel_283135_03.jpg',
			'Microsoft_Lumia_640',
			'Microsoft_Lumia_640_front',
			'Microsoft_Lumia_640_back',
			'Micro-SIM',
			'2',
			'Белый',
			'Windows Phone',
			'Есть',
			'Нет',
			'A-GPS',
			'В наличие')


	.pages-nav__block		
		ul.pages-nav__list
			li.pages-nav-item <
			- for (var i = 1; i < 4; i++)
				if i != 1
					li.pages-nav-item= i
				else
					li.pages-nav-item__active.pages-nav-item= i					
			li.pages-nav-item >


