mixin cardProduct(cardTopic, cardText, cardArticle, cardPrice, tipeSim, SIMs, Color, OS, G, lTE, GPS_modul, Stars, Avail)

    .card_product__block
        .card_product__image-block
            .card_product__image-big
                img(src='./img/catalog/tel_#{cardArticle}_01.jpg' alt='#{nameProduct}' title='#{nameProduct}').product__image
            .card_product__image-small-list
                .card_product__image-small
                    img(src='./img/catalog/tel_#{cardArticle}_01.jpg' alt='#{nameProduct}' title='#{nameProduct}').product__image-item
                .card_product__image-small
                    img(src='./img/catalog/tel_#{cardArticle}_02.jpg' alt='#{nameProduct} front' title='#{nameProduct} front').product__image-item
                .card_product__image-small
                    img(src='./img/catalog/tel_#{cardArticle}_03.jpg' alt='#{nameProduct} back' title='#{nameProduct} back').product__image-item
            .card_product__article
                span.card_product__article-name Артикул
                span.card_product__article-article= cardArticle
        .card_product__info
            h2.card_product__topic-tabl Смартфон
            h2.card_product__topic= cardTopic
            p.card_product__text= cardText
            ul.card_product__table-list
                -
                    var tabls = {
                    'Тип SIM-карты': tipeSim,
                    'Количество SIM-карт': SIMs,
                    'Цвет': Color,
                    'ОC': OS,
                    'Связь 3G': G,
                    '4G (LTE)': lTE,
                    'GPS-модуль': GPS_modul
                    };
                each value, key in tabls
                    li.card_product__line
                        span.card_product__item-left= key
                        span.card_product__item-right= value
            .card_product__rating
                ul.card_product__rating-stars
                    - for (var i = 0; i < 5; i++)
                        if i < Stars
                            li.card_product__rating-star
                        else
                            li.card_product__rating-star.card_product__rating-star-disabled
                    li.card_product__rating-number= Stars
        .card_product__block-price-basked
            .card_product__price-block
                .card_product__price= cardPrice
            .card_product__basked
                button.card_product__button-basked В корзину
                .card_product__Availability-block
                    span.card_product__Availability-item= Avail


mixin socials(pos)
    div(class='#{pos}-socials-block')
        ul(class='#{pos}-socials__list')
            - var socials = {'fb':'#fb','vk':'#vk','tw':'#tw'}
            each value, key in socials
                li(class='#{pos}-socials__item')
                    a(target="_blank" href=value class='#{pos}-socials__link #{pos}-socials__link_#{key}')
                    span.social-text= key
