.sidebar-filter
	ul.line-phone-list
		-
			var phones = {
				'Флагманы':'flagship',
				'Бюджетная линейка':'budget',			
			};
		each value, key in phones
			if key !== 'Бюджетная линейка'
				li(class='line-phone__item' id=value)= key
			else
				li(class='line-phone__item line-phone__item-active' id=value)= key
				
	.presence-for-shops
		.accordion
			h3.form-topic Наличие в магазинах
			form.presence-for-shops__form
				ul.presence-for-shops__list
					li.presence-for-shops__item
						input(type = "radio" checked="checked" id='all_shops' name = 'input-shop' ).presence-input
						label(for='all_shops').presence-for-shops_name Во всех магазинах
					li.presence-for-shops__item
						input(type = "radio" id='nearest_shop' name = 'input-shop' ).presence-input
						label(for='nearest_shop').presence-for-shops_name В ближайшем ко мне магазине
		.accordion
			h3.form-topic Бренды
			form.checkbox-brands__form
				ul.checkbox-brand__list
					-
						var brands = [
						'Lenovo',
						'Apple',
						'Samsung',
						'Asus',
						'Motorola'
						];
					each checkitem in brands
						li.checkbox-brand__item
							input(type = "checkbox" name = 'checkbox-brands[]' id=checkitem).checkbox-brand
							label(for=checkitem).checkbox-brand_name= checkitem
					li.checkbox-brand__item
						input(type = "reset" name = 'checkbox-brands' value = 'Сбросить фильтр').clear-filter
		.accordion
			h3.form-topic Цена
			form.price-range__form
				form.price-range__list
					.price-range__item
						span.price-range__name от
						input(type = "text" id="minCost" name = 'price-range' value = 's1').price-range__input					
					.price-range__item.price-range__left
						span.price-range__name до
						input(type = "text" id="maxCost" name = 'price-range' value = 's2').price-range__input
					div(id="slider-range").price-slider__item
		.accordion
			h3.form-topic  Цвет
			ul.colors-block
				-
					var colors = [
					'white',
					'grey',
					'black',
					'cyan',
					'red',
					'yellow',
					'orange',
					'green',
					'blue',
					'magenta',
					'pink',
					'brown'
					];
				each coloritem in colors
					li(class = 'color-block color-#{coloritem}')
		.accordion
			h3.form-topic  Операционные системы
			form.os-sistems__form
				ul.os-sistems__list
					-
						var os_sistem = [
						'Android',
						'iOS',
						'Windows Phone',
						'Symbian',
						'Custom'
						];
					each ositem in os_sistem
						li.os-sistem__item
							input(type = "checkbox" name = 'checkbox-brands' id=ositem).checkbox-brand
							label(for=ositem).checkbox-brand_name= ositem
					li.os-sistem__item
						input(type = "reset" name = 'checkbox-brands' value = 'Сбросить фильтр').clear-filter

					